*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;

}

/* NAV BAR */
.topNav p {
    display: inline;    
}

.topNav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.bg-nav{
    background-color: #f4f3f3;
}

.mle{
    padding-right: 5px;
}

.red{
    color: #e83131;
}

.borderBottom{
    border-top: 5px solid #e83131;
    border-bottom: 1px solid rgba(121, 121, 121, 0.306);
}

.navbar{
    padding: 0 !important;
}

.navbar-brand{
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 26px;
    padding-top: 0 !important;
}

.navbar-nav .nav-item{
    padding-left: 20px;
}

.active{
    background-color: #e83131;
    color: #fff !important;
}

a.nav-link {
    padding: 20px 15px 20px 15px !important;
}


/* BANNER SECTION */

.banner{
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0.069) , rgba(0, 0, 0, 0.069)), url('./images/bac1.jpg');
    height: 100%;
    width: 100%;
    background-position: top;

}

.banner .buttons{
    justify-content: space-evenly;
}

.banner h2{
    font-size: 54px;
}
.banner p{
    font-size: 18px;
}
.b1{
    background-color: #e83131;
    border: 0;
    padding: 15px 30px;
    color: #fff;
    transition: 0.5s;

}

.b1:hover{
    color: rgba(255, 255, 255, 0.645);
    transition: 0.5s;
    cursor: pointer;

}


.buttons .b2{
    background-color: transparent;
    
    padding: 15px 30px;
    border: 2px solid #fff !important;
    color: #fff;
    transition: 0.5s;
}

.buttons .b2:hover{
    border: 2px solid #e83131 !important;
    color: #e83131;
    transition: 0.5s;
    cursor: pointer;
}

.banner-text{
    padding-top: 180px;
}
.banner-btn{
    padding-bottom: 180px;
}

button:focus {
    outline: 0px dotted !important;
    outline: 0px auto-webkit-focus-ring-color !important;
}

/* What We Do Section */
.do{
    padding-top: 120px;
    padding-bottom: 120px;
}
.do h2{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 36px;
}
.doGallery{
    width: 100%;
    display: flex;
    
}

.gallery{
    width: 32%;
    margin: 1%;
    position: relative;
    
}

.gallery img{
    width: 100%;
    position: relative;
}
.gallery img:hover .overlay{
   
}


.gallery p {
    padding-top: 20px;
}

.gallery span{
    font-weight: bold;
}







/* Choose */

.bg-red{
    background-color: #e83131;
}
.bg-red h2{
    padding-top: 120px;
    padding-bottom: 36px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}
.choose{
    width: 100%;
    display: flex;
    padding-bottom: 120px;
}
.chooseList{
    width: 23%;
    margin: 2%;
    padding: 10px;
    text-align: center;
}
.round{
    color: #e83131;
    background-color: black;
    border-radius: 50%;
    font-size: 70px;
    padding: 36px;
    border: 2px solid #e83131;

    outline:2px solid rgb(0, 0, 0);
}
.chooseList h4{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    padding: 40px 0 30px 0;
}
.chooseList p{
font-size: 16px;
color: #fff;

}


















/* OFFER */

.of{
    padding-top: 120px;
    padding-bottom: 120px;
}

.of h2{
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 30px;
}
.offer h4{
    color: red;
    font-size: 26px;
    font-weight: 300px;
    padding-top: 20px;
}

.offer p{
    font-size: 16px;
    color: #241b1b;
    padding: 20px 0;
}
.offer{
    display: flex;
}
.of-text{
    padding-left: 20px;
    width: 59%;
}
.of-img{
    width: 39%;
}
.of-img img{
    width: 100%;
}












/* PORTFOLIO */

.bg-port{
    background-color: #1f1717;
    padding-bottom: 50px;
}
.bg-port h2{
    padding-top: 120px;
    padding-bottom: 36px;
   font-size: 36px;
   color: #fff;
   text-align: center;
}
.review{
    display: flex;
    width: 100%;
    color: #fff;
}
.r1{
    width: 49%;
    margin: 1%;
}
.rws{
    display: flex;
    padding-top: 15px;
    padding-bottom: 35px;
}
.rIcon{
    font-size: 18px;
    color: red;
}
.rws p{
    padding: 0 10px;
    font-size: 14px;
}

.r1 h6{
    padding: 10px 0px;
    font-size: 16px;
    font-weight: 300;
}


i.rIcon.fa-solid.fa-angles-right {
display: flex;
align-items: center;
}
.name{
    color: red;
}

.r1 img{
    width: 100%;
}


















/* ORDER -- HOW */
.bg-oder{
    padding-top: 120px;
    padding-bottom: 120px;
}
.bg-oder h2{
    font-size: 36px;
    font-weight: bold;
    color: #000;
    text-align: center;
    padding-bottom: 36px;
}
.order{
    width: 100%;
    display: flex;
}

.orderLi{
    width: 32%;
    margin: 1%;
    text-align: center;
}
.orderLi h4{
   color: red; 
   font-size: 35px;
   font-weight: bold;
}
.orderLi h6{
    font-size: 16px;
    color: #241b1b;
    padding: 10px 0;
}
.orderLi p{
    font-size: 16px;
    color: #b09e9e;
    padding: 0 10px;
}















/* ORDER -- WHAT */

.bg-ord{
    background-color: #1f1717;
    color: #fff;
}
.order{
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    width: 100%;
}
.order-text h2{
    font-size: 36px;
}
.order-text h6{
    font-size: 16px;
    font-weight: 300;
    padding-top: 15px;
}
.order-text p{
    font-size: 16px;
    font-weight: 300;
    padding-top: 45px;
}
.order-text{
    width: 55%;
    margin: 1%;
}
.order-contacts{
    width: 43%;
    margin: 1%;
    position: relative;
}
.cont{
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 30px;
    
}
.order-contacts::before{
    content: "";
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    z-index: 999;
    position: absolute;
    border: 2px solid #000;
}


.cont button{
    width: 25%;
}
.inp{
    width: 100%;
    border: 0;
    padding: 12px;
    margin-bottom: 18px;
}








/* hover */

.oerlay::before{
    content: "";
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    z-index: 999;
    position: absolute;
    border: 2px solid #000;
}


















@media (min-width: 1200px) {
.container {
    max-width: 1300px !important;
}
}